.app-header {
  background-color: #f9c851 !important;
}

.app-header__logo {
  background-color: #f9c851 !important;
}

.input-form-error {
  color: #96000e;
  font-size: 16px;
  font-weight: inherit;
  font-style: italic;
}

.dropzone {
  border: 1px solid #0d1214;
  border-radius: 1px;
  padding: 40px;
  min-height: 200px;
  width: 100%;
  margin-bottom: 25px;
}

.w100 {
  width: 100px;
}

.w50 {
  width: 50px;
}
td {
  vertical-align: middle !important;
}
td img {
  margin: 0px auto;
}
th {
  text-align: center;
}

.order {
  text-align: center;
  width: 50px;
}

.sortable {
  cursor: move;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196f3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #ffc107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.panel.with-nav-tabs .panel-heading {
  padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs {
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified {
  margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: #000;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  margin: 0 auto;
  display: inline-block;
}
.button-information-container {
  display: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
